@import "ol/ol.css";
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
}

body {
}

.map-container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.ol-zoom {
    display: none !important;
}
