.legend {
    position: fixed;
    bottom: 15px;
    left: 40%;
    width: 20%;
    cursor: pointer;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .legend {
        position: fixed;
        bottom: 15px;
        left: 35%;
        width: 30%;
    }
}

@media (max-width: 800px) {
    .legend {
        position: fixed;
        bottom: 15px;
        left: 20%;
        width: 60%;
    }
}
