@import "tailwindcss";
@import "ol/ol.css";


:root {

}

body {

}


.map-container {
  width: 100%;
  height: 100vh;
  margin:0px;
  padding:0px;
}

.ol-zoom-in, .ol-zoom-out{
    background-color: black !important;
    color: white !important;
    width:2em !important;
    height: 1em !important;
    line-height: 1em !important;
    margin:1px !important;
    padding:0px !important;
    border:none !important;
    outline: none !important;
    font-family: Tahoma,'Segoe UI',  Geneva, Verdana, sans-serif !important;
    font-weight: bold !important;
  }

  .ol-zoom-in{
    border-radius: 4px 8px 0px 0px !important;
  }