.section {
    margin-bottom: 3rem;
}

.heading {
    font-family: "Berlin Sans FB", Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

.text,
.listItem {
    font-family: "Calibri", Tahoma, Geneva, Verdana, sans-serif;
}

.aboutContainer {
    padding: 2rem;
}

.aboutHeader {
    background-image: url("/assets/Icons/about.png");
    background-size: cover;
    width: 100%;
    height: 400px;
    margin: 0;
    position: static;
    display: flex;
    justify-content: space-between;
}

.acoord {
    height: 40px;
    align-self: flex-end;
    margin-bottom: 5rem;
}

.mainPage {
    height: 40px;
    cursor: pointer;
}

.container {
    margin-top: 1rem;
}

.contactItem {
    margin: 0;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .aboutHeader {
        height: 250px;
    }

    .acoord {
        height: 30px;
        margin: 0 0 40px 15px;
    }

    .mainPage {
        height: 30px;
        margin: 15px 15px 0 0;
    }
}
