.header {
    width: 100%;
    max-width: 100%;
    height: 40px;
    position: absolute;
    top: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 3%;
    z-index: 100;
}

.headerRightPart {
    display: flex;
    flex-direction: row-reverse;
    margin: 3px 0px;
}

@media (max-width: 700px) {
    .headerRightPart {
        flex-direction: column;
    }
}

.headerRightPart > * {
    cursor: pointer;
}

.headerImage {
    max-height: 100%;
    height: 30px;
    width: 30px;
    max-width: 100%;
    margin: 5px;
}

#acoordLogo {
    max-height: 100%;
}
