.fullScreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.container {
    width: 70%;
    height: 70vh;
    position: fixed;
    left: 15%;
    top: 15vh;
    border-radius: 15px;
    margin: 20px;
    background-color: black;
    z-index: 1000;
}

.close {
    display: inline-block;
    background-image: url(/assets/Icons/close.png);
    background-size: cover;
    width: 13px;
    height: 13px;
    margin: 7px 7px 0px 0px;
    cursor: pointer;
    z-index: 1001;
}

#helpVideo {
    height: 98%;
    width: 100%;
    margin: 0px;
    border-radius: 15px;
}

.header {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
